<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title MYPH SHOP

	link(rel="stylesheet", href="libs/bootstrap/bootstrap-grid-3.3.1.min.css")
	link(rel="stylesheet", href="libs/bs elements/assets/css/main.css")
	link(rel="stylesheet", href="libs/bootstrap-3.3.7/dist/css/bootstrap.min.css")
	//- link(rel="stylesheet", href="libs/bs elements/bootstrap_skin.css")
	link(rel="stylesheet", href="css/fonts.css")
	link(rel="stylesheet", href="libs/owl-carousel/dist/assets/owl.carousel.css")
	link(rel="stylesheet", href="libs/owl-carousel/dist/assets/owl.theme.default.css")
	link(rel="stylesheet", href="css/main.css")

	//- fonts
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Play:400,700")
body
	.header
		.container-fluid
			h2.lab МИФ
			p.extra магазин одежды
	.navigate-panel
		.container
			ul
				li
					a(href="#") Новинки
				li
					a(href="#") Скидки %
				li
					a(href="#") Женская
					.submenu.container
						.row
							.col-md-2
									ul
										li
											a(href="#") Верхняя одежда
										li
											a(href="#") нижнее белье
										li 
											a(href="#") брюки
										li
											a(href="#") штаны
										li
											a(href="#") обувь
							.col-md-2
								ul
									li
										a(href="#") кофты
									li
										a(href="#") куртки
									li
										a(href="#") аксессуары
									li
										a(href="#") очки
				li
					a(href="#") мужская
					.submenu.container
						.row
							.col-md-2
									ul
										li
											a(href="#") Верхняя одежда
										li
											a(href="#") нижнее белье
										li 
											a(href="#") брюки
										li
											a(href="#") штаны
										li
											a(href="#") обувь
							.col-md-2
								ul
									li
										a(href="#") кофты
									li
										a(href="#") куртки
									li
										a(href="#") аксессуары
									li
										a(href="#") очки
				li
					a(href="#") бренды
					.submenu.container
						.row
							.col-md-2
								ul
									li
										a(href="#") Миф
									li
										a(href="#") Юность
									li
										a(href="#") Горе
									li
										a(href="#") Рассвет
									li
										a(href="#") Закат
	.carousel
		.owl-carousel.owl-theme
			.item
				a(href="#")
				.img.one
			.item
				a(href="#")
				.img.two
	.advantage
		.container
			.row
				.col-md-3
						.card 
				.col-md-6
						.card 
				.col-md-3
						.card 
	.offer
		h2 Cool shmot
		.container
			.card-place
				.row
					.col-md-3
						.card
							.extra ohuennaya koortka
					.col-md-3
						.card
							.extra ebuchaya foorazhka
					.col-md-3
						.card
							.extra adsky razrabotchik
					.col-md-3
						.card
							.extra blyadsky sharf
	.blog
		h2 blog
		.container
			.card-place
				.row
					.col-md-4
						.card
							p.extra Новинки 2018
							.black-wrap
						p.descr Новинки 2018
					.col-md-4
						.card
							p.extra Доставка почтой
							.black-wrap
						p.descr Доставка почтой
					.col-md-4
						.card
							p.extra Что то интересное тоже
							.black-wrap
						p.descr Что то интересное тоже
	.dispatch
		.container
			.row
				.col-md-6
					h3 Подпишитесь на нашу рассылку,чтобы быть в курсе
				.col-md-6
					input(type="text" name="mail" placeholder="your @mail") 					
					a(href="#") подписаться
	.footer
		.container
			.row
				.col-md-3
					h4 Информация
					a(href="#") О компании
					a(href="#") Оптовым покупателям
					a(href="#") Магазины
					a(href="#") Контакты
					a(href="#") Публичная оферта
				.col-md-3
					h4 Сервис
					a(href="#") Как оформить заказ
					a(href="#") Доставка
					a(href="#") Оплата
					a(href="#") Обмен/возврат
					a(href="#") Дисконтная система
				.col-md-3
					h4 Помощь
					a(href="#") Размеры
					a(href="#") FAQ
					a(href="#") Конфиденциальность
				.col-md-3
					h4 Присоединяйтесь
					.soc-buttons
						a.soc-but VK
						a.soc-but FB
						a.soc-but INS
					p В интернет-магазине МИФ Вы можете оплатить покупки наложенным платежом или банковской картой 
				.col-md-12
					p.last NickolaQ Knaifovski (c) vk.com/theknifenew
	script(src="libs/jquery/jquery-3.2.1.min.js")
	//- script(src="libs/bootstrap-3.3.7/dist/js/bootstrap.min.js")
	script(src="libs/owl-carousel/dist/owl.carousel.min.js")
	script(src="js/common.js")